﻿@model MvcApplication1.BTPROJECT

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RPPROJECTSUSER</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DefaultReportPath)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DefaultReportPath)
            @Html.ValidationMessageFor(model => model.DefaultReportPath)
        </div>

        @Html.TextBox("NumCols")

        @Html.HiddenFor(model => model.IDPROJECT)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Proyectos")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
