﻿@model IEnumerable<MvcApplication1.RPPROJECTSUSER>

@{
    //ViewBag.Title = "Proye";
 
}

<h2>Proyectos</h2>


<table>
   

@foreach (var item in Model) {
    var currentItem = item;
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LOGICAL_NAME)
        </td>
       
      
        <!--<td>@*  @Html.DisplayFor(modelItem => item.ID)*@
        </td>-->
        <td>
           @* @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id=item.ID }) |
    @Html.ActionLink(" ", "Index" , "Btsubjects", new {idprj=item.ID }, new { style = "background: url('" + Url.Content("~/Images/btn_run.png") + "') no-repeat center right; display:block; height:32px; width:32px;" })*@
            @Html.ActionLink(" ", "Carpetas" , "Btsubjects", new {idprj=item.ID },  new { style = "background: url('" + Url.Content("~/Images/projs.jpg") + "') no-repeat center right; display:block; height:32px; width:32px;" })

            @*@Html.ActionLink(article.Title, 
                "Index",   // <-- ActionMethod
                "Btsubjects",  // <-- Controller Name.
                new { article.ArticleID }, // <-- Route arguments.
                null  // <-- htmlArguments .. which are none. You need this value
                      //     otherwise you call the WRONG method ...
                      //     (refer to comments, below).
                )*@
        </td>
    </tr>
}
</table>
