﻿@model IEnumerable<MvcApplication1.BTPROJECT >

@{
    ViewBag.Title = "Configuraciones";
}
<h2>Proyectos</h2>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDPROJECT)
        </th>
        <th>
           
        </th>
    </tr>
    <tr><td>Num Columnas: @ViewBag.NC</td> </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDPROJECT )
        </td>
        <td>

            @Html.ActionLink("Carpetas", "Ver", new { id=item.IDPROJECT }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.IDPROJECT }) |
            @Html.ActionLink("Details" ,  "Details", new { id=item.IDPROJECT }) 
            
        </td>
    </tr>
}

</table>
