﻿@model IEnumerable<MvcApplication1.Models.Carpeta>

@{
    ViewBag.Title = "Carpetas";
    var nCarpeta = 0;
}
<h2>Carpetas</h2>

<p>
    @Html.ActionLink("  ","Index", "Prjuser",null, new { style = "background: url('" + Url.Content("~/Images/back.jpg") + "') no-repeat center right; display:block; height:32px; width:32px;" })
 </p>

<table>
    <tr>
        <th>
          @Html.ActionLink("CARPETA", "Carpetas", new { idprj = ViewBag.prj, sortOrder = ViewBag.SortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{

    if (nCarpeta == 0)
    {
    @: <tr>
    }

            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @if (item.IdParent > 0)
                {
                    var pathimg = "~/Images/" + ViewData[Convert.ToString(item.Id)].ToString();
                    @Html.ActionLink(" ", "Procesos", "Procesos", new { idfolder = item.Id, idfolderPar = item.IdParent }, new { style = "background: url('" + Url.Content(pathimg) + "') no-repeat center right; display:block; height:32px; width:32px;" })
                }
                else
                {
                    var pathimg = "~/Images/" + ViewData[Convert.ToString(item.Id)].ToString();
                    @Html.ActionLink(" ", "Procesos", "Procesos", new { idfolder = item.Id, idfolderPar = 0 }, new { style = "background: url('" + Url.Content(pathimg) + "') no-repeat center right; display:block; height:32px; width:32px;" })
                }
            </td>

     nCarpeta = nCarpeta + 1;
   
     if (nCarpeta == 4 || nCarpeta == Model.Count())
     {
     @: </tr>
     }
    

}     
</table>
