﻿@model IEnumerable<MvcApplication1.Models.Carpeta>

@{
    ViewBag.Title = "Subcarpetas";
    var prj = ViewData["prj"];
    var par = ViewData["par"];
    var parFold = ViewData["parFold"];
    var nCarpeta = 0;

}

<h2>SubCarpetas</h2>

<p>

    @if (parFold.Equals(0))
    {
    @Html.ActionLink(" ", "Carpetas", "Btsubjects", new { idprj = prj }, new { style = "background: url('" + Url.Content("~/Images/back.jpg") + "') no-repeat center right; display:block; height:32px; width:32px;" })
    } else
    {
    @Html.ActionLink(" ", "SubCarpetas", "BtSubjects", new { idprj = prj, idPar = parFold }, new { style = "background: url('" + Url.Content("~/Images/back.jpg") + "') no-repeat center right; display:block; height:32px; width:32px;" })
    }

</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{

    if (nCarpeta == 0)
    {
        @:
        <tr>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @if (item.IdParent > 0)
                {
                    var pathimg = "~/Images/" + ViewData[Convert.ToString(item.Id)].ToString();
                    @Html.ActionLink(" ", "SubCarpetas", "BtSubjects", new { idprj = prj, idPar = item.Id }, new { style = "background: url('" + Url.Content(pathimg) + "') no-repeat center right; display:block; height:32px; width:32px;" })

                }
                else
                {
                    @Html.ActionLink(" ", "RunPParams", "Params", new { procid = item.Id }, new { style = "background: url('" + Url.Content("~/Images/play_button.jpg") + "') no-repeat center right; display:block; height:32px; width:32px;" })

                }
            </td>


            nCarpeta = nCarpeta + 1;

            if (nCarpeta == 4 || nCarpeta == Model.Count())
            {
            @:
        </tr>
    }
}

</table>
