﻿@model MvcApplication1.BTREPORT

@{
    ViewBag.Title = "Details";
}

@Html.ActionLink("Back", "Index", new { idp = Model.IdReport })

<h2>Details</h2>

<fieldset>
    <legend>BTREPORT</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdReport)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdReport)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LogicalName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LogicalName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastFileType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastFileType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsCompressed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsCompressed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastIdFile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastIdFile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastIdJob)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastIdJob)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastFileName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastFileName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastFilePath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastFilePath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastDateGen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastDateGen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastFileSize)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastFileSize)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdProcess)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdProcess)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdVirtualExecutor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdVirtualExecutor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsPublished)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPublished)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LogicalFolder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LogicalFolder)
    </div>
</fieldset>
<p>
   
   
</p>
