﻿@model IEnumerable<MvcApplication1.BTREPORT>
@{
    var idp = ViewData["idproc"];
    ViewBag.Title = "Informes";
    
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src='@Url.Content("~/Scripts/jquery-2.0.3.js")' type="text/javascript"></script> 
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>


<p>
    @Html.ActionLink(" ", "Procesos", "Procesos", new { idfolder = idp, LevelUP = true }, new { style = "background: url('" + Url.Content("~/Images/back.jpg") + "') no-repeat center right; display:block; height:32px; width:32px;" })
</p>

<h2>Reports</h2><h3> (Proceso:@ViewData["nomproc"])</h3>
@if (Model.Count() == 0)
{  <h3>No existen Informes</h3>

}
else { 
<div id="Visor">
    @Html.Partial("VistaReport2", Model.FirstOrDefault())
</div>

<table>
    <tr>    <th> NAME </th>    <th> DATE </th>     <th> SIZE </th></tr>

@foreach (var item in Model) {
    <tr>
      <td>
            @Ajax.ActionLink(item.LogicalName.ToString() , "GetReport",
                            new { idrepo = item.IdReport },
                            new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "Visor",
                                InsertionMode = InsertionMode.Replace,
                            })
    </td>

        <td> @Html.DisplayFor(modelItem => item.LastDateGen)    </td>
        <td> @Html.DisplayFor(modelItem => item.LastFileSize.Value ) </td>
        <td>
            @Html.ActionLink("Descarga", "DownloadFile", new { fichero=item.LastFileName, ruta=item.LastFilePath  }) |
            @Html.ActionLink("Details", "Details", new {  idp=item.IdReport  }) 
        </td>
    </tr>
}
</table>

}

