﻿@{
    ViewBag.Title = "Página principal";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Para obtener más información sobre ApeSoft-Compettia, visite
                <a href="http://www.apesoft.com" title="Sitio web de ApeSoft">http://www.apesoft.com</a>.
                La página incluye <mark>vídeos, cursos y ejemplos</mark> para ayudarle a sacar el máximo partido DataCycle.
                Si tiene alguna pregunta relacionada con DataCycle, visite
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="Foro/HelpDesk de Apesoft">nuestros foros</a>.
            </p>
        </div>
    </section>
}
<h3>Le sugerimos lo siguiente:</h3>
<ol class="round">
    <li class="one">
        <h5>Introducción</h5>
        Administre la visibilidad de cada usuario o grupo de usuarios según carpetas y procesos. 
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Más información…</a>
    </li>

    <li class="two">
        <h5>Informes</h5>
        Ejecute los procesos según necesidad y descargue a su dispositivo/ordenador los resultados en Excel o PDF en cualquier momento.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Más información…</a>
    </li>

    <li class="three">
        <h5>Gestione las planificaciones</h5>
        Encuentre fácilmente empresas de alojamiento web que ofrezcan la mejor relación de características
        y precio para sus aplicaciones.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Más información…</a>
    </li>
</ol>
