﻿@model IEnumerable<MvcApplication1.BTPROCESSEXCELREPORT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idReportExcel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemplatePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdMailProfile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FreeMailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATTACHMENTTYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GENERATEOLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REPORT_FILE_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APPEND_DATA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMPRESS_REPORT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DELETE_ZIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUM_RECORDS_TO_COMMIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DELETE_REPORT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttatchReportToMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttatchZipReportToMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPerfilPub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPerfilPub_Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogicalFolder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogicalFolderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogicalFolderCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogicalFolderPermissionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogicalFolderPermissionParam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idReportExcel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TemplatePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdMailProfile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FreeMailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATTACHMENTTYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GENERATEOLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REPORT_FILE_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APPEND_DATA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPRESS_REPORT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DELETE_ZIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUM_RECORDS_TO_COMMIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DELETE_REPORT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttatchReportToMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttatchZipReportToMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdPerfilPub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdPerfilPub_Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogicalFolder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogicalFolderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogicalFolderCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogicalFolderPermissionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogicalFolderPermissionParam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
