﻿@model IEnumerable<MvcApplication1.BTITEM>
@{
    ViewBag.Title = "Procesos";
    var idpr = ViewData["prj"];
    var idcarp = ViewData["carp"];

}
<h2>Procesos</h2>

<p>
    @Html.ActionLink(" ", "Carpetas", "Btsubjects", new {idprj= idpr}, new { style = "background: url('" + Url.Content("~/Images/back.jpg") + "') no-repeat center right; display:block; height:32px; width:32px;" })
   
</p>
<table>
   @* <tr><th></th><th></th></tr>*@

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.LOGICAL_NAME)</td>
        <td>@Html.ActionLink(" ", "RunPParams", "Params", new { procid=item.ID},  new { style = "background: url('" + Url.Content("~/Images/play_button.jpg") + "') no-repeat center right; display:block; height:32px; width:32px;"})</td>  @*//new {@class="buttplay" } )*@
        @*<td>@Html.ActionLink(" ","Run" , new {sParams="", id=item.ID},  new { style = "background: url('" + Url.Content("~/Images/play_button.jpg") + "') no-repeat center right; display:block; height:32px; width:32px;"})</td> *@
        <td>@Html.ActionLink(" ", "Index","Reports", new { idp = item.ID }, new { style = "background: url('" + Url.Content("~/Images/icon_excel.png") + "') no-repeat center right; display:block; height:32px; width:32px;"})</td>
    </tr>
}

</table>
@if (Model.Count() == 0)
{
    <h3>No existen Procesos</h3>}
