﻿@model IEnumerable<MvcApplication1.BTITEM>
yuyuyyuyu
<table>
    <tr>
        <th>
            aaaaaaaaaaaa
        </th>
        <th>
          ggg
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LOGICAL_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOGICAL_NAME)
            </td>
        </tr>
    }
</table>