﻿<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mi aplicación ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("DataCycle MyVision", "Index", "Home")</p>
                </div>
                <div class="float-left">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                        @if (User.Identity.IsAuthenticated) {
                            <li>@Html.ActionLink("Proyectos", "Index", "Prjuser")</li>
                            <li>@Html.ActionLink("Informes", "Index", "Home")</li>
                            <li>@Html.ActionLink("Trabajos", "About", "Home")</li>
                            <li>@Html.ActionLink("Configuración", "Proyectos", "Prjuser")</li>
                            <li>@Html.ActionLink("Ayuda", "Contact", "Home")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Configuración", "About", "Home")</li>
                            <li>@Html.ActionLink("Ayuda", "Contact", "Home")</li>
                        }        
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET MVC</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
