﻿@model MvcApplication1.BTITEMPARAM

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BTITEMPARAM</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdParam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdParam)
            @Html.ValidationMessageFor(model => model.IdParam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdItem)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdItem)
            @Html.ValidationMessageFor(model => model.IdItem)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParamName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ParamName)
            @Html.ValidationMessageFor(model => model.ParamName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SourceType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SourceType)
            @Html.ValidationMessageFor(model => model.SourceType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DefaultValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DefaultValue)
            @Html.ValidationMessageFor(model => model.DefaultValue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserDesc)
            @Html.ValidationMessageFor(model => model.UserDesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserDescHTML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserDescHTML)
            @Html.ValidationMessageFor(model => model.UserDescHTML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TechDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TechDesc)
            @Html.ValidationMessageFor(model => model.TechDesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParamType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ParamType)
            @Html.ValidationMessageFor(model => model.ParamType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PresentationOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PresentationOrder)
            @Html.ValidationMessageFor(model => model.PresentationOrder)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartNewParamPanel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartNewParamPanel)
            @Html.ValidationMessageFor(model => model.StartNewParamPanel)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
