﻿@model IEnumerable<MvcApplication1.BTITEMPARAM>

@{

    ViewBag.Title = "Ejecutar proceso: " + ViewData["NombreProceso"];
    bool NewPanel=false;
    string sParamsValues = "";
}

<p>
    @Html.ActionLink("  ", "Procesos", "Procesos", new { idfolder = ViewBag.IDfolder,idfolderPar=0 }, new { style = "background: url('" + Url.Content("~/Images/back.jpg") + "') no-repeat center right; display:block; height:32px; width:32px;" })
</p>

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    if (Model.Count() > 0) { 
    <table>
        <tr>
            <th> Parámetro  |</th>
            <th> Valores </th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.StartNewParamPanel == true)
            {
                NewPanel = true;

                @Html.Hidden("NewPanel", "IsNewPanel")

                if (ViewData.ContainsKey("Panel2") == false) { break; }
                else
                {
                    @Html.Hidden("NewPanel", "EndNewPanel")
                }
            }

            <tr>
            <td>
                @if (item.UserDesc == "")
                {
                @Html.DisplayFor(modelItem => item.ParamName)
                }
                else
                {
                @Html.DisplayFor(modelItem => item.UserDesc)
                }
            </td>
            @if (item.ParamType == 0 & item.SourceType == 1)
            {
                <td>
                    @Html.TextBox(Convert.ToString(item.ParamName), item.DefaultValue)
                </td>
            }
            @if (item.ParamType > 0 & item.SourceType == 1)
            {
                <td>

                   @if (ViewData.ContainsKey("ParamMulti" + Convert.ToString(item.IdParam)))
                   {
                       if (ViewData["ParamMulti" + Convert.ToString(item.IdParam)].ToString() != "1")
                       {
                        @Html.DropDownList(Convert.ToString(item.ParamName), ViewData[Convert.ToString(item.ParamName)] as SelectList, "Seleccione")
                       }
                       else
                       {
                        @Html.DropDownList(Convert.ToString(item.ParamName), ViewData[Convert.ToString(item.ParamName)] as MultiSelectList, new { multiple = "multiple" })
                       }
                   }
                   else
                   {
                    @Html.TextBox(Convert.ToString(item.ParamName), ViewData[Convert.ToString(item.ParamName)], new { style = "width:"+ ViewData["ParamSize" + Convert.ToString(item.IdParam)] +"px" })
                   }

                </td>

            }
        </tr>

        }
    
    </table>

    }

    if ((NewPanel == true) & (ViewData.ContainsKey("Panel2")==false))
    {
        ViewData["TmpPanel"]=1;
        <br/>
        <input type="submit" value="CONTINUAR" /> //onclick="location.href='@Url.Action("RunPParams",  "Params", new { procid = ViewBag.IDProcess,sParamsFilled=ViewData.ToString()  })'" /> 
    }
    else
    {
        ViewData["TmpPanel"] = 0;
        <br/>
        <input type="submit" value="EJECUTAR" /> }

}
   
<script type="text/javascript">

    var link = '@Url.Action("RunPParams",  new { procid = "-1" })';

    function CallVisor(idr) {
    link = link.replace("-1",idr);
         { $('#Visor').load(link); }
         return true;
    };

</script>