﻿
@model IEnumerable<MvcApplication1.OPJOB>

@{

  
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src='@Url.Content("~/Scripts/jquery-1.8.0.min.js")' type="text/javascript"></script>
</head>

<body>

<h2>Results</h2>

<div id="EstadoJob">
    @Html.Partial("VistaEstadoJob", Model.FirstOrDefault())
</div>

</body>
</html>
<script type="text/javascript">

    var link = '@Url.Action("GetLastJobStatus",  new { idjob = "-1" })';
    link = link.replace("-1", @ViewBag.IDJ);



    $(function () {
        setInterval(function () { $('#EstadoJob').load(link); }, 1000); // every 3 sec
    });

</script>
