﻿@model MvcApplication1.OPJOB
<table>
    <tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDJOB) |
        </th>      
        <th>
            @Html.DisplayNameFor(model => model.INICIO)  |
        </th>  
        <th>
            @Html.DisplayNameFor(model => model.FINAL)  |
        </th> 
        <th>
            ESTADO  |
        </th>  
        <th>
            DESCRIPCIÓN
        </th>
    </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.IDJOB)
            </td>
            <td>
                @Html.DisplayFor(model => model.INICIO)
            </td>
            <td>
                @Html.DisplayFor(model => model.FINAL)
            </td>
                @if (Model.EXECUTIONSTATUS == 0)  {  <td>Pendiente   </td>      }
                @if (Model.EXECUTIONSTATUS == 1)  {  <td>Ejecutandose   </td>   }
                @if (Model.EXECUTIONSTATUS >2)    {  <td>Finalido con Error </td> }
                
            <td>
                @Html.DisplayFor(model => model.CurrentTaskDesc)
            </td>
        </tr>
   

</table>
@if (Model.EXECUTIONSTATUS == 2)
{
<div>
    <br/>
    Ir a resultados:

    <span>@Html.ActionLink(" ", "Index", "Reports", new { idp = Model.IDPROCESS }, new { style = "background: url('" + Url.Content("~/Images/icon_excel.png") + "') no-repeat center right; display:block; height:32px; width:32px;" })</span>
</div>
}
@if (Model.EXECUTIONSTATUS == 5)
{
    <div>
        FINALIZADO CON ERROR:
        =====================
        <span>Model.IDPROCESS</span>
    </div>
}